{% autoescape off %}

<div class="row">
        <div class="col">
          <h1 style="text-align: center;">
            One Step <img src="{% static 'images/Flag_of_Nepal.png' %}" alt="" width="10%" >
          </h1>
        </div>
      </div>


<hr style="background-color: greenyellow;" />

Hi {{ user.username }}, Please click on the link to confirm your registration, 

http://{{ domain }}{% url 'activate' uidb64=uid token=token%}

If you think, it's not you, then just ignore this email. 

{% endautoescape %}