{% extends "base.html" %}


{% block title %}
    Reset your password
{% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}

    <div class="container mt-3" style="max-width: 500px;">
        <div class="row">
        <div class="col">
          <h1 style="text-align: center;">
            One Step <img src="{% static 'images/Flag_of_Nepal.png' %}" alt="" width="10%" >
          </h1>
        </div>
      </div>

        
    <p style="text-align: center; color: red;">Connect, Meet, Inspire and Teach to Learn</p>


      <hr style="background-color: greenyellow;" />

        <h1>Forgotten your password?</h1>
        <p style="color: red;">Enter your e-mail address to obtain a new password.</p>
    
        <form method="post">
            {{ form|crispy }}
            <p><input type="submit" class="btn btn-sm btn-outline-primary" value="Send e-mail"></p>
            {% csrf_token %}
        </form>
    </div>
    
{% endblock %}