{% extends 'base.html' %}

{% block title %}
    Ask Question
{% endblock title %}

{% load crispy_forms_tags %}


{% block body %}
     <div class="container mt-5" style="max-width: 750px; background-color: ;"> 
        <!-- Form for asking question -->
        <h1>
            Ask Your Question
        </h1>
        <form action="{% url 'askquestion' %}" method="post">
            {% csrf_token %}
            {{ askform|crispy }}
            <input name="askbutton" id="askbutton" class="btn btn-primary" type="submit" value="Ask">
        </form>
    </div>

{% endblock body %}