{% extends 'base.html' %}


{% block body %}


<div class="container" style="max-width: 750px">
  <div class="row">
    <h1 class="ml-auto mr-auto">Read Nepal</h1>
  </div>

  <div class="row">
    <h1 class="ml-auto mr-auto">Book of the Month {{ monthName }}</h1>
  </div>

  <div class="row mt-4">
    <!-- First Book -->
    {% for book in books %}
    <div class="col-12 col-sm-6" style="background-color: ">
      <div class="row">
        <h3>{{ book.name }}</h3>
      </div>

      <div class="row">
        <img
          class="img-fluid"
          src="{{ book.coverImage.url }}"
          alt="Book of the Month English"
          style="height: 600px;"
        />
      </div>

      <!-- Book Detail Information -->
      <div class="row mt-3">{{ book.writer }}</div>

      <!-- Book Summary -->
      <div class="row mt-3">
        <details close>
          <summary>Summary</summary>
          <p>
            {{ book.summary }}
          </p>
        </details>
      </div>

      <!-- Take Challenge Button -->
      <div class="row mt-3">
        <button type="button" class="btn btn-outline-primary">
          Take Challenge
        </button>
      </div>
    </div>
    {% empty %}
      <h1>
        No Book Added. Will be Added Soon
      </h1>
    {% endfor %}
    </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col">
      <form action="">
        <input
          class="form-control form-control-lg"
          type="text"
          placeholder="Add Your Own Book..."
        />
        <button type="submit" class="btn btn-primary mt-2">
          Add your own book
        </button>
      </form>
    </div>
  </div>

  <div class="row mt-5">
    <h1>What's Your Friend is reading?</h1>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Name Of Book</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for reader in readers %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ reader.reader.first_name }}</td>
            <td>{{ reader.bookName.name }}</td>
            {% if reader.doneReading %}
              <td style="color: rgb(238, 109, 24);">Finished Reading</td>
            {% else %}
              <td>Currently Reading</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
