{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <!-- Title Bar Image -->
    <link
      rel="shortcut icon"
      href="{% static "images/logo.png" %}"
      type="image/x-icon"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Stylesheet Links -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    <!-- Title Block -->
    <title>{% block title %}One Step Nepal{% endblock title %}</title>
  </head>
  <body>
    <!-- Top Bar -->
    <div class="top-bar">
      <div class="intro-sign">
        <div class="company-logo">
          <img src="{% static 'images/logo.svg' %}" class="flag" alt="" />
        </div>
        <div class="search" style="font-size: 24px; line-height: 20px">
          <i class="fa fa-search"></i>
        </div>

        {% if not user.is_authenticated %}
        <div class="sign-in-create">
          <div class="create-account circle-effect">
            <a href="{% url 'signup' %}" style="text-decoration: none; color: white;">
              Create Account
            </a>
          </div>
          <div class="sign-in circle-effect">
            <a href="{% url 'login' %}" style="text-decoration: none; color: white;">
              Sign In
            </a>
          </div>
        </div>
        {% else %}
          Logged In As {{ request.user.fullname }}
        {% endif %}

        </div>
          
      <nav>
        <div class="navigation-container">
          <div class="user">
            <div class="user-photo">
              <img
                src="{% static 'images/img.png' %}"
                alt=""
                class="user-pic"
              />
            </div>
            <div class="info">
              <span class="views">2k views</span>
              <span class="name">{{ request.user.fullname }}</span>
            </div>
          </div>
          <div class="navigation nav-total">
            <ul type="none" class="nav">
              <a href="{% url 'notelist' %}"
                ><li>Note<i class="fa fa-hand-paper-o"></i></li
              ></a>
              <a href="{% url 'allquestions' %}"
                ><li>Ask <i class="fa fa-question" aria-hidden="true"></i></li
              ></a>
              <a href="{% url 'readnepal' %}"
                ><li>ReadNepal <!-- <i class="fa fa-group"> --></i></li
              ></a>
              
              <a href="{% url 'testPage' %}"
                ><li>Test <i class="fa fa-newspaper-o"></i></li
              ></a>

              <a href="{% url 'bootcamp' %}"
                ><li>BootCamp <i class="fa fa-fire"></i></li
              ></a>

              <a href=""
                ><li>Meet Us <i class="fa fa-fire"></i></li
              ></a>
            </ul>
          </div>
          <div class="three-bars" onclick="myFunction()">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
        </div>
      </nav>
    </div>

    <!-- Body Block -->
    {% block body %}

    <!-- Search Box -->
    <div class="container mt-4" style="max-width: 600px">
      <form action="{% url 'searchAll' %}">
        <input
          class="form-control"
          required
          type="text"
          name="q"
          name="Search Box"
          placeholder="Search Note, Question ....."
        />
        <input
          name="searchBtn"
          id="searchBtn"
          class="btn btn-primary mt-2"
          type="submit"
          value="Search"
        />
      </form>
    </div>

    <!-- Book of the Month -->
    <div class="container mt-4" style="max-width: 750px;">

      <div class="row">
        <h4>
          Book of the Month
        </h4>
      </div>

      <div class="row">
        <table class="table table-light">
          <thead>
            <tr>
              <td>
                SN
              </td>
              <td>
                Book Name
              </td>
              <td>
                Participate
              </td>
            </tr>
          </thead>

          <tbody>

            <tr>
              <td>
                1
              </td>
              <td>
                Educated
              </td>
              <td>
                <button class="btn btn-primary">Participate</button>
              </td>
            </tr>

             <tr>
              <td>
                1
              </td>
              <td>
                Educated
              </td>
              <td>
                <button class="btn btn-primary">Participate</button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>

    <!-- Recoommended Post -->
    <div class="container mt-4" style="max-width: 750px;">

      <div class="row">
        <h4>
          Recommended Notes
        </h4>
      </div>

      <div class="row"> 
        {% for note in recommendedNotes %}
        <div class="col-12 col-sm-6
         mt-4">
          <div class="card border-primary mb-3">
            <div class="card-body">
              <a href="{% url 'notedetail' note.pk note.slug %}" style="color: #c52929">
                {{ note.title }}
              </a>
    
              <br />
              <span style="color: #c52929">
                <a href="{% url 'searchSubject' note.subject %}"> #{{ note.subject }} </a>
              </span>
    
              <span style="color: #c52929">
                <a href="{% url 'searchGrade' note.grade %}"> #{{ note.grade }} </a>
              </span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>


    <!-- Reccommended Questions -->
    <div class="container mt-5" style="max-width: 750px;">

      <div class="row">
        <h4>
          Recommended Questions
        </h4>
      </div>

       <div class="row">
        {% for question in recommendedQuestion %}
        <div class="col-12 col-sm-6 mt-4">
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'questiondetail' question.id question.slug %}" style="color: #c52929;">
                        {{ question.title }}
                    </a>

                    <br>
                    <span style="color: #c52929;">
                        <a href="{% url 'searchSubjectDiscussion' question.subject %}">
                            #{{ question.subject }}
                        </a>
                    </span>

                    <span style="color: #c52929;">
                        <a href="{% url 'searchGradeDiscussion' question.grade %}">
                            #{{ question.grade }}
                        </a>
                    </span>
                </div>
            </div>
        </div>
       {% endfor %}
    </div>
    </div>
    {% endblock body %}

    <hr />

    <!-- Footer -->

    <footer>
      <div class="footer">
        <div class="info-block">
          <div class="logo">
            <img src="{% static "images/logo.svg" %}" alt="LearnCodeIn" />
          </div>
          <div class="location">
            <i class="fa fa-map-marker"></i>
            5<sup>th</sup> Floor, A-118, Sector-136, Noida, Uttar Pradesh
          </div>
          <div class="feedback">
            <i class="fa fa-envelope" aria-hidden="true"></i>feedback@gmail.com
          </div>
          <div class="social-sites">
            <div class="foot-facebook">
              <i class="fa fa-facebook foot-social" aria-hidden="true"></i>
            </div>
            <div class="foot-facebook">
              <i class="fa fa-instagram foot-social" aria-hidden="true"></i>
            </div>
            <div class="foot-facebook">
              <i class="fa fa-linkedin foot-social" aria-hidden="true"></i>
            </div>
            <div class="foot-facebook">
              <i class="fa fa-twitter foot-social" aria-hidden="true"></i>
            </div>
            <div class="foot-facebook">
              <i class="fa fa-youtube foot-social" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="first-column">
          <div class="foot-topic">Company</div>
          <div class="foot-first-subtopic foot-subtopic">
            <ul type="none" class="suptopics">
              <li><a href="index.html">Home</a></li>
              <li><a href="index.html">Careers</a></li>
              <li><a href="index.html">Privacy Policy</a></li>
              <li><a href="index.html">Contact us</a></li>
            </ul>
          </div>
        </div>
        <div class="second-column">
          <div class="foot-topic">Learn</div>
          <div class="foot-second-subtopic foot-subtopic">
            <ul type="none" class="suptopics">
              <li><a href="index.html">About us</a></li>
              <li><a href="index.html">Careers</a></li>
              <li><a href="index.html">Privacy Policy</a></li>
              <li><a href="index.html">Contact us</a></li>
            </ul>
          </div>
        </div>
        <div class="third-column">
          <div class="foot-topic">Practice</div>
          <div class="foot-third-subtopic foot-subtopic">
            <ul type="none" class="suptopics">
              <li><a href="">About us</a></li>
              <li><a href="">Careers</a></li>
              <li><a href="">Privacy Policy</a></li>
              <li><a href="">Contact us</a></li>
              <li><a href="">Careers</a></li>
              <li><a href="">How To connect </a></li>
              <li><a href="">Contact us</a></li>
            </ul>
          </div>
        </div>
        <div class="fourth-column">
          <div class="foot-topic">Contribute</div>
          <div class="foot-fourth-subtopic foot-subtopic">
            <ul type="none" class="suptopics">
              <li><a href="">About us</a></li>
              <li><a href="">Careers</a></li>
              <li><a href="">Languages </a></li>
              <li><a href="">Contact us</a></li>
              <li><a href="">Languages </a></li>
              <li><a href="">Contact us</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyright">@LearnCodeIn All right reserved</div>
    </footer>

    <script src="{% static 'js/index.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 2000,
      });
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>

  <script src="https://use.fontawesome.com/299edf00a0.js"></script>
</html>
